/*color*/ 
$primaryColor:#579c87;
$headerColor:#fdcb46;
/*color menu*/
$BackColor-1:#fcdfdb;
$color-1: #a88485;
$BackColor-2:#fff5fe;
$color-2:#ce7d4e;
$color-2-1:#ba80b2;
$color-2-2: #9d62db;
$BackColor-3:#eef0f0;
$color-3:#5076ea;
$color-3-1:#346eec;
$color-3-2: #1789f9;
$backcolor-4:#fefefe;
$color-4:#79c45c;
$color-4-1:#bdf392;
$color-4-2: #79c45c;